@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}

<div class="toolbar">
    <h1 id="pageTitle">公司列表</h1>
    <a id="menuButton" class="button" href="/" style="display:inline" target="_self">返回首页</a>
</div>

<div id="home" class="panel" selected="true">
    <div title="Story">
        <h2>The Thermonuclear "Oops" List</h2>
        <p>Accidents happen. No one is immune: typos slip in, numbers get misdialed, directions are screwed up. We all make them; no one is perfect.Except that these mistakes involved thermonuclear weapons, and could easily have reduced a sizable hunk of this world to a Geiger-clicking pit.</p>
    </div>
</div>
